# Collapse Meta using p-value
SEPARATOR  TAB
SCHEME SAMPLESIZE
MARKER Region_Group_max_MAF
ALLELE Ref Alt
PVALUE Pvalue
EFFECT BETA_Burden
WEIGHTLABEL N
PROCESS /home/rare/Pheno_Non_British_White.csv
PROCESS /home/rare/Pheno_Black_or_Black_British.csv
PROCESS /home/rare/Pheno_Asian_or_Asian_British.csv
PROCESS /home/rare/Pheno_Mixed_or_other.csv
OUTFILE /home/rare/Pheno_METARare .tbl
ANALYZE HETEROGENEITY
QUIT
