# Common variants Meta using p-value
SEPARATOR  TAB
SCHEME SAMPLESIZE
MARKER ID
ALLELE Ref Alt
PVALUE P
EFFECT BETA
WEIGHTLABEL N
PROCESS /home/common/Pheno_Non_British_White
PROCESS /home/common/Pheno_Black_or_Black_British
PROCESS /home/common/Pheno_Asian_or_Asian_British
PROCESS /home/common/Pheno_Mixed_or_other
OUTFILE /home/common/Pheno_METACommon .tbl
ANALYZE HETEROGENEITY
QUIT
